*{
    font-family: sans-serif;
}

a.header {
    text-decoration: none;
    color: #000000;
}

body {
    background-color: orange;
    margin: 0px;
}

h1 {
    text-align: center;
}

table {
    border-color: black;
    font-size: 25px;
}

form {
	font-size: 25px;
	text-align: center;
}

table.move {
    margin-left: auto;
    margin-right: auto;
}


p.Stand {
    font-size: 30px;
    text-align: center;
}

div.container {
    text-align: center;
    font-size: 30px;
}

.navbar ul{
    list-style-type: none;
    background-color: #424242;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: grey;
}

.navbar li{
    float: left;
    font-size: 30px;
}

.buttonSize {
    background-color: #000000;
    border: 1;
    border-width: 10px;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

.kontakt {
    margin-left: 23px;
    margin-top: 23px;
    font-size: 22px;
   
}

a.adminButton {

    background-color: #424242  ;
    color: white;
    padding: 5px 20px;
    text-decoration: none;

   
}

div.adminDiv {
    margin-left: 80%;
    margin-top: 60px;
    margin-bottom: 60px;

}

p.kontaktuebungsleiter{
    font-size: 20px;
}

div.uebungsleiter {
    margin-left: 60px;
    margin-top: 60px;

}

div.tabzeiten {
    margin-left: 300px;

}

div.nextspiele {
    margin-left: 60%;

}

p.ansteSpiele {
    font-size: 20px;
    text-align: center;
}

table.fSize {
    font-size: 20px;
}


.disp {
    display: inline-table;
  }
